<div class="row">
  <div class="col-sm-4">
    <table class="table">
      <tr>
        <td><img src="<%= gravatar_url(@user, { size:100 }) %>" alt=""></td>
        <td class="text-left"><h4><%= @user.name %></h4></td>  
      </tr>
      <tr>
        <td class="strong"><h3>email:</h3></td>
        <td class="text-left"><h4><%= @user.email %></h4></td>
      </tr>
      <tr>
        <td><%= link_to image_tag("love-book-128.png", class:"book-logo"), words_path(@user) %></td>
        <td class="text-left"><%= link_to "your original book!", words_path(@user), class: "h3"  %></td>
      </tr>
    </table>
  </div>
  <aside class="mt-4 ml-4">
    <% if current_user?(@user) %>
      <%= link_to "Edit", edit_user_path(@user.id), class: "btn btn-primary btn-lg mr-4" %>
      <%= link_to "Delete", user_path(@user.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger btn-lg" %>
    <% end %>
  </aside>
</div>