<div class="view-container"> 
  <div class="create-btn">
    <%= current_user.name %>'s word book !
    <%= link_to "create new word", new_word_path, class: "btn btn-success btn-lg" %>
  </div>
  
  <div>
    <div class="view-container">
    <% @words.each do |word| %>
      <div class="view-box">
        <div class="view-box-top">
          <div class="view-box-right">
            <div class="view-box-right-top">
              <div class="view-box-right-l">
                <h4>word</h4>
                <p><%= link_to word.word, word_path(word.id) %></p>
              </div>
              <div class="view-box-right-r">
                <h4>mean</h4>
                <p><%= word.mean %></p>
              </div>
            </div>
            <div class="view-box-right-bottom">
              <p>
                <span class="category"># <%= word.category.name %></span>
                <%= link_to "edit", edit_word_path(word.id), class: "btn btn-primary btn-sm edit-btn" %>
                <%= link_to "delete", word_path(word.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger btn-sm" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div>
      <%= paginate @words %>
    </div>  
  </div>
</div>
