<div class="row">
  <div class="col-sm-4">
    <table class="table text-center">
      <tr>
        <td class="strong"><h3>Word:</h3></td>
        <td class="text-left"><h4><%= @word.word %></h4></td>
      </tr>
      <tr>
        <td class="strong"><h3>Mean:</h3></td>
        <td class="text-left"><h4><%= @word.mean %></h4></td>
      </tr>
      <tr>
        <td class="strong"><h3>Example:</h3></td>
        <td class="text-left"><h4><%= @word.example %></h4></td>
      </tr>
    </table>
  </div>
  <div class="mt-4 ml-4">
    <% if current_user?(@word.user) %>
      <%= link_to "Edit", edit_word_path(@word.id), class: "btn btn-primary btn-lg mr-4" %>
      <%= link_to "Delete", word_path(@word.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger btn-lg" %>
    <% end %>
  </div>
</div>